{% extends "main.html" %}

{% block content %}
<div class="container-fluid">
<div class="row">

<div class="col-sm">
</div>

<div class="col">
<h1 align='center'>{{page|title}}</h1>
</div>
<div class="col-sm">
</div>

</div>

<div class="card">
  <div class="card-header">
    About
  </div>
  <div class="card-body">
    <h5 class="card-title">{{general.first_name}} {{general.middle_name}} {{general.last_name}}</h5>
    <p class="card-text">{{general.about|linebreaks}}</p>
  </div>
</div>

</p>

<div class="card">
  <div class="card-header">
    Experience
  </div>
  {% for exp in experience %}
  <div class="card-body">
    <h5 class="card-title">{{exp.company}} {{exp.position}}</h5>
    <p class="card-text">{{exp.location}}</p>
    <p class="card-text">{{exp.start_date|date:"F Y"}} to {% if exp.end_date %} {{exp.end_date|date:"F Y"}} {% else %} present {% endif %}</p>
  </div>
  {% endfor %}
</div>

</p>

<div class="card">
  <div class="card-header">
    Education
  </div>
  {% for edu in education %}
  <div class="card-body">
    <h5 class="card-title">{{edu.school}}</h5>
    <p class="card-text">{{edu.degree}}</p>
    <p class="card-text">{{edu.field}}</p>
    <p class="card-text">{{edu.start_date|date:"F Y"}} to {% if edu.end_date %} {{edu.end_date|date:"F Y"}} {% else %} present {% endif %}</p>
  </div>
  {% endfor %}
</div>

</p>

<div class="card">
  <div class="card-header">
    Certification
  </div>
  {% for cert in certification %}
  <div class="card-body">
    <h5 class="card-title">{{cert.certificate}} from {{cert.organization}}</h5>
    <p class="card-text">{{cert.credential_id}}</p>
    <p class="card-text">{{cert.start_date|date:"F Y"}} valid untill {% if cert.end_date %} {{cert.end_date|date:"F Y"}} {% else %} forever {% endif %}</p>

    <a href="{{cert.credential_url}}" target="_blank" class="btn btn-primary">See Certification</a>
  </div>
  {% endfor %}
</div>

</p>

<div class="card">
  <div class="card-header">
    Volunteering
  </div>
  {% for vol in volunteering %}
  <div class="card-body">
    <h5 class="card-title">{{vol.organization}}</h5>
    <p class="card-text">{{vol.role}}</p>
    <p class="card-text">{{vol.cause}}</p>
    <p class="card-text">{{vol.start_date|date:"F Y"}} to {% if vol.end_date %} 
    {{vol.end_date|date:"F Y"}} {% else %} present {% endif %}</p>
  </div>
  {% endfor %}
</div>
</p>
</div>
{% endblock content%}
