{% extends "main.html" %}

{% block content %}
<div class="container-fluid">
<div class="row">

<div class="col-sm">
</div>

<div class="col">
<h1 align='center'>{{page|title}}</h1>
</div>
<div class="col-sm">
</div>

</div>

<div class="row">

<div class="col-sm">
</div>

<div class="col">
<p>
{% if user.is_authenticated %}
    <p align='center'>Halo, <strong>{{ user.get_username }}</strong>. Terima kasih sudah login.</p>
{% endif %}</p>

<br>
<br>


</div>
<div class="col-sm">
</div>
</div>

<div class="row">
<div class="col-sm">
</div>
<div class="col-sm-8">
<table style="width:100%">
<tr>
<th>Title</th>
<th>Author</th>
<th>Category</th>
<th>Date</th>
<th>Updated</th>
</tr>
{% for post in post %}
<tr>
<td><a href="{{post.get_absolute_url}}">{{post.title}}</a></td>
<td>{{post.author}}</td>
<td>{{post.category}}</td>
<td>{{post.time_created|date:"l, Y-m-d H:i"}}</td>
<td>{{post.time_lastmodified|date:"l, Y-m-d H:i"}}</td>
</tr>
{%endfor%}
</table>
</div>
<div class="col-sm">
</div>
</div>

</div>
{% endblock content%}
